// Beginning of top navigation bar styling
ul.nav-bar
  background-color: #fdfdfd
  list-style-type: none
  margin: 0px
  opacity: .75
  overflow: hidden
  padding-left: 300px
  padding-right: 300px
  white-space: normal

li.links
  color: #4e4e4e
  display: block
  padding-top: 14px
  padding-bottom: 14px
  padding-right: 16px
  text-align: center

a.nav-links
  color: inherit
  text-decoration: none

a.active
  color: inherit
  text-decoration: underline

li.left
  float: left

li.right
  float: right

// End of top navigation bar styling
